%section#slider
  %section.image-slider
    %ul.slides
      %li
        = image_tag "handsblocking.jpg"
      %li
        = image_tag "volleyballssmaller.jpg"
      %li
        = image_tag "silhouette.jpg"
  %section.text-slider
    %ul
      - announcements.each do |a|
        %li
          %h2= a.headline.upcase
          %h3= a.subhead
          %p= a.message

  %section.elements
    %span.white-box
    %span.top-corner
    %span.bottom-corner

%section#bottom
  %section.shell
    %ul.widgets
      %li.recent-widget.one_third
        %h4 Recent News
        %section.container
          %ul.slides
            - recent_news.each do |story|
              %li
                %h3
                  = link_to story.headline, news_url
                %h6
                  Posted by
                  %strong= story.author
                  on
                  %strong= story.publication_date.to_s(:pubtime)
                %p= story.teaser
                / = link_to "CONTINUE READING", news_url

      %li.upcoming-widget.one_third
        %h4 Upcoming Events
        %section.container
          %ul.slides
            - schedule.each do |event|
              %li
                %a{:href => "#"}
                  %span.icon
                    = image_tag "clock.png"
                  %span.right= event.time
                  %strong= "#{event.date.strftime("%b %d")} #{event.title}"
  
      %li#bulldogsvball.tweets-widget.one_third.last
        %h4 Recent Tweets
        %section.container