%section.top-image{:style => "background:url('/assets/handsblocking.jpg') no-repeat top center;"}
  %h1 Calendar
%section#bottom
  %section.shell
    %section#content.full
      #filters.cal-filters.clearfix
        %span.active All
        - events.distinct(:label).each do  |name|
          %span{:id => name.parameterize}= name.titleize
      %table.calendar
        %thead
          %tr
            %th{:colspan => "7"}
              = "#{selected_month.strftime("%B")}, #{selected_month.strftime("%Y")}"
              %a.cal-nav.prev{:href => month_url(previous_month.year, previous_month.month)}
              %a.cal-nav.next{:href => month_url(next_month.year, next_month.month)}
          %tr
            %th.day Sunday
            %th.day Monday
            %th.day Tuesday
            %th.day Wednesday
            %th.day Thursday
            %th.day Friday
            %th.day Saturday
        %tbody
          - month.collect do |week|
            %tr
              - week.collect do |date|
                %td
                  %span.day= date.day
                  - day_events(date, events).each do |event|
                    %div{:class => "item #{event.label.parameterize}"}
                      = link_to event.title, event_url(event)
                      %span.time= event.time
                      %span.time= event.location

      %ul.widgets
        %li.mobile-calendar
          = render 'calendar/upcoming', :events => Event.upcoming


= events.map(&:start_datetime).map(&:day)