.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %ul{"data-orbit" => ""}
          %li= image_tag "smfhsbulldogsvolleyball.jpg", alt: "stow bulldogs volleyball"
          %li= image_tag "smfhsteam.jpg", alt: "stow bulldogs volleyball team"
          %li= image_tag "smfhsalumni.jpg", alt: "stow bulldogs volleyball alumni"
          %li= image_tag "smfhsreceiving.jpg", alt: "stow bulldogs volleyball team"
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{src: "http://placehold.it/1000x600&text=For Small Screens"}/
    / End Mobile Header
%br/
.row#dates
  .large-12.columns
    .row
      - next_matches.each do |match|
        .large-3.small-6.columns
          .title
            = "Stow vs. #{match.opponent}"
          .date
            .dayname= match.date.strftime("%A")
            .day= match.date.strftime("%-d")
            .month= match.date.strftime("%B")
          %h6.panel
            = link_to match.location, "https://www.google.com/maps/search/#{CGI.escape(match.address)}", target: "_blank"
            %br/
            = match.address
            %br/
            = match.notes

.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4 Header
              %hr/
              %h5.subheader
                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
              .show-for-small{align: "center"}
                %a.small.radius.button{href: "http://ww.twitter.com/bulldogsvball"} Follow us on Twitter!
                %br/
            .large-6.small-6.columns
              %p
                Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
      .large-4.columns.hide-for-small
        %h4 Get In Touch!
        %hr/
        %a.large.button.expand{href: "http://ww.twitter.com/bulldogsvball"} Follow us on Twitter!
