.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %ul{"data-orbit" => ""}
          %li= image_tag "smfhsbulldogsvolleyball.jpg", alt: "stow bulldogs volleyball"
          %li= image_tag "smfhsteam.jpg", alt: "stow bulldogs volleyball team"
          %li= image_tag "smfhsalumni.jpg", alt: "stow bulldogs volleyball alumni"
          %li= image_tag "smfhsreceiving.jpg", alt: "stow bulldogs volleyball team"
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{src: "http://placehold.it/1000x600&text=For Small Screens"}/
    / End Mobile Header
%br/
.row#dates
  .large-12.columns
    .row
      - next_matches.each do |match|
        .large-3.small-6.columns
          .title
            = "Stow vs. #{match.opponent}"
          .date
            .dayname= match.date.strftime("%A")
            .day= match.date.strftime("%-d")
            .month= match.date.strftime("%B")
          %h6.panel
            = link_to match.location, "https://www.google.com/maps/search/#{CGI.escape(match.address)}", target: "_blank"
            %br/
            = match.address
            %br/
            = match.notes

.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4 Message from Coach
              %hr/
              %h5.subheader
                "The habits we form today will determine the results we achieve tomorrow"
              .show-for-small{align: "center"}
                %a.small.radius.button{href: "http://ww.twitter.com/bulldogsvball"} Follow us on Twitter!
                %a.small.radius.button{href: "mailto:coach@bulldogsvolleyball.com"} Email Coach!
                %br/
            .large-6.small-6.columns
              %p
                Our goal here at SMFHS is to
                teach young men the sport of volleyball. That requires forming good habits that will lead
                to future successes both on and off the court. And if we do these things right, we will hang banners 
                on the wall.
              %p 
                Boys volleyball is a growing sport and if you or your son is interesting in learning more about it,
                contact Coach by email or on Twitter.
                
                
      .large-4.columns.hide-for-small
        %h4 Get In Touch!
        %hr/
        %a.large.button.expand{href: "http://ww.twitter.com/bulldogsvball"} Follow us on Twitter!
        %a.large.button.expand{href: "mailto:coach@bulldogsvolleyball.com"} Email Coach!
