.row
  .large-12.columns
    .show-for-medium
      .orbit{role: 'region', 'aria-label': "SMFHS Boys Volleyball Pictures", 'data-orbit': true}
        .orbit-wrapper
          %ul.orbit-container
            %li.orbit-slide.is-active
              %figure.orbit-figure
                =image_tag "2017-stow-vs-jackson-hawaii-night.jpg", class: "orbit-image", alt: "2017 Stow vs Jackson Hawaii Night"
            %li.orbit-slide
              %figure.orbit-figure
                = image_tag "2017-sft-baer.jpg", class: "orbit-image", alt: "2017 Spike for Tykes"
            %li.orbit-slide
              %figure.orbit-figure
                = image_tag "2017-polar-bear-lundstrum.jpg", class: "orbit-image", alt: "2017 Polar Bear Bash"
            %li.orbit-slide
              %figure.orbit-figure
                = image_tag "2017-polar-bear-sibbel-freidt.jpg", class: "orbit-image", alt: "2017 Polar Bear Bash"
            %li.orbit-slide
              %figure.orbit-figure
                = image_tag "2017-polar-bear-gray.jpg", class: "orbit-image", alt: "2017 Polar Bear Bash"
          %nav.orbit-bullets
            %button.is-active{'data-slide': 0}
            %button{'data-slide': 1}
            %button{'data-slide': 2}
            %button{'data-slide': 3}
            %button{'data-slide': 4}

.row#dates
  .large-12.columns
    .row
      - next_matches.each do |match|
        .large-3.small-6.columns
          .event
            .title
              - if match.tournament
                = match.opponent
              - else
                = "Stow vs. #{match.opponent}"
            .date
              .dayname= match.date.strftime("%A")
              .month= match.date.strftime("%B")
              .day= match.date.strftime("%-d")
              .time= "@ #{match.time}"
            %h6.panel
              = link_to match.location, "https://www.google.com/maps/search/#{CGI.escape(match.address)}", target: "_blank"
              %br/
              .address= match.address

.row
  .hide-for-large
    .large-12.columns
      .row
        .large-8.columns
          .row
            .large-4.columns
              .callout.large
                %h5 2019 Open Gyms
                %ul
                  %li Feb 2, 7:00 - 8:30 PM
                  %li Feb 12, 7:00 - 8:30 PM
                  %li Feb 14, 7:00 - 8:30 PM
                  %li Feb 19, 5:00 - 6:30 PM
                  %li Feb 21, 7:30 - 8:30 PM
                  %li Feb 23, 2:30 - 4:00 PM
                  %li Feb 25, 6:00 - 7:30 PM
                  %li Feb 27, 6:00 - 7:30 PM
                  %li Mar 2, 10:00AM - 11:30 AM
                %p
                  %b Tryouts are March 4 @ 5:30 PM
            .large-4.columns.show-for-medium
              .callout.large
                %h5.subheader
                  "The opportunity to play high school volleyball changed the path of my life. It led to a college scholarship, and the ability to get a degree from a great university."
                %br
                %i - Ben Spurlock '04
      .row
        .large-8.columns
          %a.large.button.expand{href: schedule_url} View the full schedule! 
          %a.large.button.expand{href: "http://ww.twitter.com/stow_mvb"} Follow us on Twitter!
          %a.large.button.expand{href: "mailto:coach@bulldogsvolleyball.com"} Email Coach!

  .show-for-large
    .large-12.columns
      .row
        / Content
        .large-8.columns
          .panel.radius.callout
            .row
              .large-6.small-6.columns
                %h4 2019 Open Gyms
                %hr/
                %h5.subheader
                  "The opportunity to play high school volleyball changed the path of my life. It led to a college scholarship, and the ability to get a degree from a great university."
                  %br
                  %i - Ben Spurlock '04
              .large-6.small-6.columns
                %ul
                  %li Feb 2, 7:00 - 8:30 PM
                  %li Feb 12, 7:00 - 8:30 PM
                  %li Feb 14, 7:00 - 8:30 PM
                  %li Feb 19, 5:00 - 6:30 PM
                  %li Feb 21, 7:30 - 8:30 PM
                  %li Feb 23, 2:30 - 4:00 PM
                  %li Feb 25, 6:00 - 7:30 PM
                  %li Feb 26, 6:00 - 7:30 PM
                  %li Mar 2, 10:00AM - 11:30 AM
                %p
                  %b Tryouts are March 5 @ 5:30 PM

        .large-4.columns        
          %a.large.button.expand{href: schedule_url} View the full schedule!
          %a.large.button.expand{href: "http://ww.twitter.com/stow_mvb"} Follow us on Twitter!
          %a.large.button.expand{href: "mailto:coach@bulldogsvolleyball.com"} Email Coach!
