%section.top-image{:style => "background:url('assets/volleyballssmaller.jpg') no-repeat top center;"}
  %h1 Recent News

%section#bottom
  %section.shell
    %section#content.news-feed.two_third
      - news.each do |story|
        .one_fourth
          %img{:src => "/assets/bulldoglogo.png", :width => "100%"}/
        .three_fourth.last
          %h4.title
            = link_to story.headline, story_url(story)
          .post-meta
            Posted by
            %strong
              %a{:href => "#"}= story.author
            on
            = succeed "." do
              %strong= story.publication_date.to_s(:pubtime)
          %p= story.body
          %p
            / = link_to "Read More", story_url(story), :class => "continue"
        .cl
 

    %aside.one_third.last
      %ul.widgets
        %li.upcoming-widget
          %h4 Upcoming Events
          %section.container
            %ul.slides
              - events.each do |event|
                %li
                  %a{:href => event_url(event)}
                    %span.icon
                      = image_tag "clock.png"
                    %span.right= event.time
                    %strong= "#{event.date.strftime("%b %d")} #{event.title}"
