.mws-panel.grid_8.mws-collapsible
  .mws-panel-header
    %span
      %i.icon-list
      = controller.controller_name.titleize
  .mws-panel-toolbar
    .btn-toolbar
      .btn-group
        = link_to "<i class='icol-add'></i> Add New #{controller.controller_name.singularize.titleize}".html_safe, url_for(:controller => controller.controller_name, :action => 'new'), :class => 'btn'
  .mws-panel-body.no-padding
    - if collection.any?  
      %table.mws-table.mws-datatable
        %thead
          %tr
            - collection.first.class.fields.each do |mongo_field|
              - field = mongo_field.first
              - next if ['_type', '_id', 'id', 'created_at', 'updated_at'].include?(field)
              %th= field.titleize
            %th
        %tbody
          - collection.each do |r|
            %tr
              - r.class.fields.each do |mongo_field|
                - field = mongo_field.first
                - next if ['_type', '_id', 'id', 'created_at', 'updated_at'].include?(field)
                %td= r.send(field)
              %td
                %span.btn-group
                  = link_to "<i class='icon-pencil'></i>".html_safe, edit_resource_url(r), :class => 'btn btn-small'
                  = link_to "<i class='icon-trash'></i>".html_safe, resource_url(r), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small' 

= javascript_include_tag "mwsadmin/plugins/datatables/jquery.dataTables"
:javascript
  $(document).ready(function(){
    $('.mws-datatable').dataTable();
  });