!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    / Apple iOS Settings
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/assets/apple-touch-icon-114x114.png"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/assets/apple-touch-icon-72x72.png"}
    %link{:rel => "apple-touch-icon", :href => "/assets/apple-touch-icon.png"}

    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}    
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    %link{:href => "/assets/ios_icon.png", :rel => "apple-touch-icon-precomposed"}

    %title= content_for?(:title) ? yield(:title) : "Stow Munroe Falls High School Boys Volleyball"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tag

  %body
    .row
      .large-12.columns
        / Navigation
        %nav.top-bar{"data-topbar" => ""}
          %ul.title-area
            / Title Area
            %li.name
              %h1
                %a{href: "/"}
                  Bulldogs Volleyball
            %li.toggle-topbar.menu-icon
              %a{href: "#"}
                %span menu
          %section.top-bar-section
            %ul.left
              %li
                = link_to "Schedule", schedule_url
              %li
                = link_to "Super Scrimmage", super_scrimmage_url
              %li
                = link_to "Maroon and Gold", maroon_and_gold_url
            %ul.right
              %li
                = link_to "@bulldogsvball", "http://www.twitter.com/bulldogsvball"
                
              %li.has-button

        / End Navigation

    = yield

    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Stow Munroe Falls High School Boys Volleyball
          .large-6.columns
            %ul.inline-list.right
              %li
                = link_to "OHSBVA", "http://www.ohioboysvolleyball.com"
              %li
                = link_to "SMF School District", "http://www.smfschools.org"
              %li
                = link_to "SMF Boosters", "http://www.smfboosters.com"

    
    = javascript_include_tag "application"