!!!
%html
  %head
    %title Stow Bulldogs Boys Volleyball
    = csrf_meta_tags
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
    / Apple iOS Settings
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}    
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    %link{:href => "/assets/ios_icon.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "http://fonts.googleapis.com/css?family=Bitter:400italic|Exo:400,800", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", :media => "all" 
    = stylesheet_link_tag "aloha/csss/aloha.css"
    = javascript_include_tag "application"      
    <script src="/assets/aloha/aloha.js" data-aloha-plugins="common/ui,common/format,common/highlighteditables,common/link"></script>
    /[if gte IE 9]
      <style type="text/css">
      \.button, .button:hover, .button.grey, .button.grey:hover {
      filter: none;
      }
      </style>
  %body
    %section#wrap
      %header
        %section.shell
          %h1#logo
            %a{:href => "index.html"}
              = image_tag "bulldoglogo.png"
          %nav
            %ul
              %li.current
                %a{:href => "index.html"} Home
              %li
                %a{:href => "calendar.html"} Calendar
              %li
                %a{:href => "news.html"} News
              %li
                %a{:href => "super_scrimmage.html"} Super Scrimmage
              %li
                %a{:href => "gallery.html"} Gallery
              %li.phone @bulldogsvolleyball
          #mobile-nav
            %ul
              %li.current
                %a{:href => "index.html"} Home
              %li
                %a{:href => "calendar.html"} Calendar
              %li
                %a{:href => "news.html"} News
              %li
                %a{:href => "super_scrimmage.html"} Super Scrimmage
              %li
                %a{:href => "gallery.html"} Gallery
              %li.phone @bulldogsvolleyball
            %a.mobile-nav-toggle +
      = yield

      %section#footer-push
    %footer
      %section.top
        %section.shell
          %ul
            %li.one_third
              .map-widget
                %iframe{:frameborder => "0", :height => "151", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=one+infinite+loop&aq=&sll=42.633959,28.88855&sspn=3.321876,7.13562&ie=UTF8&hq=&t=m&ll=37.352283,-122.027721&spn=0.020605,0.046692&z=13&output=embed", :width => "100%"}
            %li.one_third
              .contact-widget
                %h4 VISIT / GET IN TOUCH
                %ul
                  %li
                    %span.right +1 (800) 123-4567
                    1234 Main Street
                  %li
                    %span.right +1 (123) 890-1234
                    Cityname, ST 12345
                  %li
                    %a{:href => "mailto:info@gymboom.com"} info@gymboom.com
                %ul.socials
                  %li.facebook
                    %a{:href => "#"} Facebook
                  %li.twitter
                    %a{:href => "#"} Twitter
                  %li.linkedin
                    %a{:href => "#"} LinkedIn
                  %li.vimeo
                    %a{:href => "#"} Vimeo
                  %li.youtube
                    %a{:href => "#"} YouTube
                  %li.rss
                    %a{:href => "#"} RSS
            %li.one_third.last
              .schedule-widget
                %h4 Hours of Operation
                %ul
                  %li
                    %span.right 8am - 11pm
                    Monday - Friday
                  %li
                    %span.right 10am - 10pm
                    Saturday
                  %li
                    %span.right Closed
                    Sunday
      %section.bottom
        %section.shell
          %p
            %a#back-to-top.right{:href => "#wrap"} Back to Top
            %a{:href => "#"} Privacy Policy
    :javascript
      window.jQuery || document.write('<\/script>')
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='http://www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
