!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %title Stow Bulldogs Boys Volleyball - Administration
    = csrf_meta_tags
    / Apple iOS Settings
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/assets/apple-touch-icon-114x114.png"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/assets/apple-touch-icon-72x72.png"}
    %link{:rel => "apple-touch-icon", :href => "/assets/apple-touch-icon.png"}
    %link{:href => "/assets/ios_icon.png", :rel => "apple-touch-icon-precomposed"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}    
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}

    / Viewport Metatag
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}



    = stylesheet_link_tag "administration", :media => "all" 
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"
    = javascript_include_tag "administration" 
    = javascript_include_tag "mwsadmin/core/login"

  %body
    = yield



